<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>578427258601-4qt4ct7qgjnjc279tabr9qrujakvlkpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578427258601-4qt4ct7qgjnjc279tabr9qrujakvlkpo</string>
	<key>API_KEY</key>
	<string>AIzaSyAXN1lSPDLBab4790evB131nQOSUkPkKc0</string>
	<key>GCM_SENDER_ID</key>
	<string>578427258601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Quarkworks.URLSessionITunes</string>
	<key>PROJECT_ID</key>
	<string>my-awesome-project-8b957</string>
	<key>STORAGE_BUCKET</key>
	<string>my-awesome-project-8b957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:578427258601:ios:c42a4f0490d81cf7</string>
	<key>DATABASE_URL</key>
	<string>https://my-awesome-project-8b957.firebaseio.com</string>
</dict>
</plist>